@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

html {
    background: #e3e3e3;
}

body {
    margin: 2%;
    padding: 3%;
    color: #224422;
    border-top: 3px solid #242424;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

p, a, table, ol, ul, label {
    font-family: 'Montserrat', sans-serif;
}

#intro {
    font-size: 2.3em;
    padding-bottom: 0.5%;
    color: #76bd35;
    border-bottom: 1px solid #858585;
}

.section-heading {
    font-size: 1.9em;
    color: #18453B;
    margin: 0;
}

#subscribe {
    padding-top: 2%;
    line-height: 0.4em;
    font-weight: 300;
}

a[href] {
    color: #18453B;
}

p {
    margin-right: 3.4%;
    margin-left: 0.5%;
    text-align: justify;
}

img {
    display: block;
    margin: 1%;
    border: 3px dashed #858585;
}

table {
    border: 1px solid;
}

table, th, td {
    border-spacing: 0px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

th, td {
    padding: 2%;
}

#covid-table {
    margin: 1%;
    text-align: center;
    margin-bottom: 1%;
    width: 40%;
    float: left;
}

footer {
    margin-top: 2%;
    margin-left: 0.5%;
}

li {
    margin: 1% 0% 1% 0%;
}

form {
    width: 100%;
}

form div label {
    width: 8%;
    display: inline-block;
    margin: 0.3%;
}

main {
    display: inline-block;
    width: 80%;
    height: 100%;
    margin-right: 2%;

}

.twolayer {
    display: inline-flex;
}

#sidebar {
    position: sticky;
    top: 3%;
    width: 15%;
    height: 100%;
    padding: 1%;
    vertical-align: top;
    display: inline-block;
    background-color: #18453B;
    color: #fff;
}

#sidebar a[href] {
    color: #fff;
}

#empty-building-img {
    float: right;
}

#dmoruzzi-profile-img {
    border: 0px;
}