@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

html {
    background: #e3e3e3;
}

body {
    margin: 2% 2% 0 2%;
    color: #224422;
    border-top: 3px solid #242424;
    background: #ffffff;
}

#wrapper {
    padding: 2%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

p, a, table, ol, ul, label {
    font-family: 'Montserrat', sans-serif;
}

#intro {
    font-size: 2.3em;
    padding-bottom: 0.5%;
    color: #76bd35;
    border-bottom: 1px solid #858585;
}

main {
    display: inline-flex;
    width: 80%;
    height: 100%;
    margin-right: 2%;
}

article {
    width: 50%;
}

.section-heading {
    font-size: 1.9em;
    color: #18453B;
    margin: 0;
}

#subscribe {
    padding-top: 2%;
    line-height: 0.4em;
    font-weight: 300;
}

a[href] {
    color: #18453B;
}

p {
    margin-right: 3.4%;
    margin-left: 0.5%;
    text-align: justify;
    word-wrap: break-word;

}

img {
    display: block;
    width: 95%;
    margin: 1%;
    border: 3px dashed #858585;
}

#empty-building-img {
    width: 50%;
    float: right;
}

#about-main {
    display: inline-block;
}

table {
    border: 1px solid;
}

table, th, td {
    border-spacing: 0px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

th, td {
    padding: 2%;
}

#covid-table {
    margin: 1%;
    text-align: center;
    margin-bottom: 1%;
    width: 40%;
    float: left;
}

footer {
    padding: 2%
}

ol {
    padding-left: 1em;
}

li {
    margin: 1% 0% 1% 0%;
}

form {
    width: 100%;
}

form div label {
    width: 8%;
    display: inline-block;
    margin: 0.3%;
}

#sidebar {
    position: sticky;
    top: 3%;
    width: 15%;
    height: 100%;
    padding: 1%;
    vertical-align: top;
    display: inline-block;
    background-color: #18453B;
    color: #fff;
}

#sidebar a[href] {
    color: #fff;
}

#dmoruzzi-profile-img {
    width: 20%;
    height: 30vh;
    border-radius: 50%;
    background-image: url("../images/about/me.jpg");
    background-size: cover;
    background-position: 0;
}

#dmoruzzi-profile-img img {
    border: 0;
}

#subscribe {
    line-height: 100%;
}

/* Media queries */

/* two columns, sidebar on bottom */
@media screen and (max-width: 1295px) {
    main {
        width: 100%;
        margin-right: 0;
    }

    #covid-table, #empty-building-img {
        float: none;
        width: 95%;
        margin: 1%;
    }

    #sidebar {
        position: relative;
        top: 0;
        width: 98%;
        display: block;
        background-color: #18453B;
        color: #fff;
    }

    form div label {
        width: 20%;
        display: inline-block;
        margin: 0.3%;
    }

    button {
        margin-bottom: 4%;
    }
}

/* One column, sidebar on bottom */
@media screen and (max-width: 809px) {
    #wrapper {
        padding: 4%;
    }

    main {
        display: block;
    }

    article {
        width: 100%;
    }
}
